WPToDoApp/ToDoApp/Service References/ServiceToDo/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ToDoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IToDoService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ToDo.WCFService.Contracts" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IToDoService_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IToDoService_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoService_GetUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserId" />
  </wsdl:message>
  <wsdl:message name="IToDoService_GetUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoService_GetToDos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetToDos" />
  </wsdl:message>
  <wsdl:message name="IToDoService_GetToDos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetToDosResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoService_AddToDo_InputMessage">
    <wsdl:part name="parameters" element="tns:AddToDo" />
  </wsdl:message>
  <wsdl:message name="IToDoService_AddToDo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddToDoResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoService_EditToDo_InputMessage">
    <wsdl:part name="parameters" element="tns:EditToDo" />
  </wsdl:message>
  <wsdl:message name="IToDoService_EditToDo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditToDoResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoService_DeleteToDo_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteToDo" />
  </wsdl:message>
  <wsdl:message name="IToDoService_DeleteToDo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteToDoResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoService_GetStatusValues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusValues" />
  </wsdl:message>
  <wsdl:message name="IToDoService_GetStatusValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoService_GetPriorityValues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPriorityValues" />
  </wsdl:message>
  <wsdl:message name="IToDoService_GetPriorityValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPriorityValuesResponse" />
  </wsdl:message>
  <wsdl:portType name="IToDoService">
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoService/RegisterUser" message="tns:IToDoService_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoService/RegisterUserResponse" message="tns:IToDoService_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoService/GetUserId" message="tns:IToDoService_GetUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoService/GetUserIdResponse" message="tns:IToDoService_GetUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetToDos">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoService/GetToDos" message="tns:IToDoService_GetToDos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoService/GetToDosResponse" message="tns:IToDoService_GetToDos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddToDo">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoService/AddToDo" message="tns:IToDoService_AddToDo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoService/AddToDoResponse" message="tns:IToDoService_AddToDo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditToDo">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoService/EditToDo" message="tns:IToDoService_EditToDo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoService/EditToDoResponse" message="tns:IToDoService_EditToDo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteToDo">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoService/DeleteToDo" message="tns:IToDoService_DeleteToDo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoService/DeleteToDoResponse" message="tns:IToDoService_DeleteToDo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatusValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoService/GetStatusValues" message="tns:IToDoService_GetStatusValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoService/GetStatusValuesResponse" message="tns:IToDoService_GetStatusValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPriorityValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoService/GetPriorityValues" message="tns:IToDoService_GetPriorityValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoService/GetPriorityValuesResponse" message="tns:IToDoService_GetPriorityValues_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IToDoService" type="tns:IToDoService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IToDoService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IToDoService/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserId">
      <soap:operation soapAction="http://tempuri.org/IToDoService/GetUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToDos">
      <soap:operation soapAction="http://tempuri.org/IToDoService/GetToDos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToDo">
      <soap:operation soapAction="http://tempuri.org/IToDoService/AddToDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditToDo">
      <soap:operation soapAction="http://tempuri.org/IToDoService/EditToDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteToDo">
      <soap:operation soapAction="http://tempuri.org/IToDoService/DeleteToDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusValues">
      <soap:operation soapAction="http://tempuri.org/IToDoService/GetStatusValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPriorityValues">
      <soap:operation soapAction="http://tempuri.org/IToDoService/GetPriorityValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ToDoService">
    <wsdl:port name="BasicHttpBinding_IToDoService" binding="tns:BasicHttpBinding_IToDoService">
      <soap:address location="https://simon-pc/ToDoWCF/ToDoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>